{% extends "base.html" %}
{% load static  thumbnail %}
{% block title %}
  问题列表 | {{ block.super }}
{% endblock %}

{% block css%}
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row mt-2">
      <div class="card" style="width: 100%;">
        <h5 class="card-header p-1">按话题分类
          <a href="#" class="btn-sm btn-primary pull-right">
            <i class="fa fa-pencil" aria-hidden="true"></i>提问
          </a>
        </h5>
        <div class="card-body p-2">
          {% for tag,count in popular_tags %}
            <a href="#"><span class="badge badge-warning">{{ tag }} {{ count }}</span> </a>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row mt-2">

    </div>
  </div>

{% endblock %}

{% block modal %}

{% endblock %}
{% block javascript %}

{% endblock %}
